@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(240, 238, 234);
    min-height: 100dvh;
    min-height: 100vh;
}

#app {
    min-height: 100dvh;
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.post, .feed {
    box-shadow:inset 0px 0px 0px 2px #bbeca600, 0 1px 3px #00000013;
    transition: box-shadow .15s ease-in;
}
.post.active, .feed.active {
    box-shadow:inset 0px 0px 0px 2px #bbf3a3, 0 1px 3px #00000013;
    
    /* border: solid 3px #a0a0a0; */
}
.feedback {
    display: block !important;
}
.post-link {
    width: fit-content;
}
.feeds-layout {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}